/* Animations */

@keyframes fadein {
    0% {opacity: 0; visibility: visible;} 
    20% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeout {
    0% {opacity: 1; visibility: visible;}
    60% {opacity: 0; visibility: hidden;}
}




body {
    margin: 0;
    height: 100vh;
}

.wrapper{
    height: 100vh;
}

header{
    background-color: black;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    display: inline-flex;
}

header h1{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: rgb(228, 228, 228);
    margin: auto;
}

.video-area{
    position: absolute;
    top: 10%;
    width: 100%;
}

video{
    display: block;
    margin: 0 auto;
}

.seasons, .season_button{
    margin: 0 0 0 10px;
    background-color: rgb(70, 70, 70);
    border: 2px solid white;
    border-bottom: none;
    position: relative;
    display: inline-block;
    width: 120px;
}

.seasons h2, .season_button h2{
    color: white;
    margin: 10px;
    pointer-events: none;
}

.season_button{
    margin: 0;
    background-color:rgb(80, 40, 40) !important;
}

.season_button:nth-child(odd){
    background-color:rgb(80, 28, 28) !important;
    border-color: red !important;
}

.season_button:last-child{
    border-bottom: 2px solid white;
}

.title, .episode{
    color: white;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 10px;
}

.episode_list{
    display: grid;
}

.episode_button{
    text-align: left;
    background-color: rgb(55, 55, 55);
    border-style: solid;
    border-color: rgb(55, 55, 55);
}

button:focus {
    outline: -webkit-focus-ring-color none;
}

.season_list{
    visibility: hidden;
    width: 120px;
    position: absolute;
    right: -120px;
    top: -180px;
    display: grid;
    z-index: 80;
}


.selected{
    border-style: ridge;
    border-color: red !important;
    background-color: rgba(90, 70, 70, 0.7) !important;
}

.episode_button:nth-child(odd){
    background-color: rgb(70, 70, 70);
    border-color: rgb(70, 70, 70);
}

.episode_button:nth-child(1){
    border-top-color: white;
}

.episode_button p{
    color: white;
    font-size: 0.9rem;
    padding: 10px 0 10px 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.text_area{
    height: 110px;
}

#hidden{
    background-color: transparent !important;
}

#logo{
    height: 90%;
    width: inherit;
    margin-right: inherit;
    margin-left: 10px;
    background-image: url("../img/Nätflex.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.scroll-area{
    position: relative;
    top: 10%;
    margin-left: 5px;
}

.content-box{
    display: block;
}

.boxy{
    display: inline-flex;
    height: 270px; /* A website pixel is apparently 1.5 of an image pixel...*/
    width: 180px;
    background-color: darkred;
    margin: 5px;
}

.boxy:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.info{
    position: relative !important;
    left: 10px;
    top: 10px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    font-size: 1.5rem !important;
    width: 30px;
    height: 30px;
    visibility: hidden;
    cursor: default;
}

/* For some reason, not having an info button shifts the images */
#empty{
    visibility: hidden;
}

.info:hover .description{
    visibility: visible;
    animation: fadein 0.3s forwards;
}

.info:not(:hover) .description{
    animation: fadeout 0.5s forwards;
}

.description{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    width: 175px;
    position: relative;
    visibility: hidden;
    pointer-events: none !important;
    background-color: rgba(255, 255, 255, 0.9);
}

p {
    margin: 10px;
    margin-top: 5px;
    color: black;
    text-shadow:  none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.6;;
    padding-bottom: 5px;
}

h2{
    margin: 10px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-shadow:  none;
    font-family: 'Proza Libre', sans-serif;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    padding-top: 5px;
}

a{
    text-decoration: none;
}

.back-deco {
    z-index: -10;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: rgb(50, 50, 50);
}

.subheader h1{
    margin: 5px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Proza Libre', sans-serif;
}

.subheader{
    margin-top: 10px;
}

.splitter{
    width: 95%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-star{
    color: rgb(50, 50, 50) !important;
    text-shadow: 0px 1px 0px black;
    font-size: 1.5rem !important;
}

#checked, #halfstar{
    color: orange !important;
    text-shadow: 0px 1px 0px rgb(187, 121, 0);
}

.rating{
    margin: 0 auto 0 auto;
    width: fit-content;
    padding-bottom: 10px;
    position: relative;
}

#halfstar {
    position: absolute;
    bottom: 12.5px;
    width: 12px;    
    overflow: hidden;
}



.popup_descr{
    position: fixed;
    /* height: 60%; */
    width: 300px;
    top: 12%;
    left: 50%;
    margin-left: -150px;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.8);
    visibility: hidden;
}

.cover{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.visible{
    visibility: visible !important;
    animation: fadein 0.3s forwards;
}

.invisible{
    animation: fadeout 0.5s forwards;
}

.popup_descr h2{
    font-size: 1.5rem;
    margin-top: 0;
    padding: 10px 30px 0 10px;
}

.popup_descr p{
    font-size: 1rem;
    padding: 0 10px 0 10px
}

.popup_descr .fa-star{
    font-size: 2.5rem !important;
    text-shadow: 0px 3px 0px black
}

.popup_descr #halfstar, .popup_descr #checked{
    text-shadow: 0px 3px 0px rgb(187, 121, 0)
}

.popup_descr #halfstar{
    bottom: 10px;
    width: 20px;
    overflow: hidden;
}

.popup_descr .rating{
    margin-top: 20px;
}

.back{
    background-color: rgba(150, 0, 0, 0.9);
    border-style: none;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    right: 0;
    border-radius: 0 0 0 50%;
}

.watch{
    margin-top: 10px;
    background-color: rgba(150, 0, 0, 0.9);
    border-style: none;
    width: 100%;
}

.watch h2{
    font-size: 1.8rem;
    color: white;
    margin-top: 10px;
    padding: 5px;
}


#game_of_thrones{
    background-image: url("../img/270px/game_of_thrones.jpg");
}

#salad_fingers{
    background-image: url("../img/270px/salad\ fingers.jpg");
}

#avatar_the_last_airbender{
    background-image: url("../img/270px/avatar_the_last_airbender.jpg")
}

#sherlock{
    background-image: url("../img/270px/sherlock.jpg")
}

#death_note{
    background-image: url("../img/270px/death_note.jpg")
}

#strangers_tongue{
    background-image: url("../img/270px/stranger\'s\ tongue\ poster.jpg")
}

#love_death_robots{
    background-image: url("../img/270px/love_death_robots.jpg")
}

#the_walking_dead{
    background-image: url("../img/270px/the_walking_dead.jpg")
}

#the_handmaids_tale{
    background-image: url("../img/270px/the_handmaid\'s_tale.jpg")
}

#westworld{
    background-image: url("../img/270px/westworld.jpg")
}

#civil_war{
    background-image: url("../img/270px/civil\ war.jpg")
}

#shawshank_redemption{
    background-image: url("../img/270px/shawshank_redemption.jpg")
}

#pulp_fiction{
    background-image: url("../img/270px/pulp_fiction.jpg")
}

#lord_of_the_rings{
    background-image: url("../img/270px/lord_of_the_rings.jpg")
}

#forrest_gump{
    background-image: url("../img/270px/forrest_gump.jpg")
}

#spirited_away{
    background-image: url("../img/270px/spirited_away.jpg")
}

#avengers_endgame{
    background-image: url("../img/270px/avengers_endgame.jpg")
}

#interstellar{
    background-image: url("../img/270px/interstellar.jpg")
}

#explore{
    background-image: url("../img/270px/explore.jpg")
}

#house_of_cards{
    background-image: url("../img/270px/house_of_cards.jpg")
}

#dexter{
    background-image: url("../img/270px/dexter.jpg")
}

#orange_is_the_new_black{
    background-image: url("../img/270px/orange_is_the_new_black.jpg")
}

#six_feet_under{
    background-image: url("../img/270px/six_feet_under.jpg")
}

#downton_abbey{
    background-image: url("../img/270px/downton_abbey.jpg")
}

#the_good_place{
    background-image: url("../img/270px/the_good_place.jpg")
}

#x-files{
    background-image: url("../img/270px/x-files.jpg")
}

#sex_education{
    background-image: url("../img/270px/sex_education.jpg")
}

#vikings{
    background-image: url("../img/270px/vikings.jpg")
}

#the_office{
    background-image: url("../img/270px/the_office.jpg")
}

#broadchurch{
    background-image: url("../img/270px/broadchurch.jpg")
}

#jessica_jones{
    background-image: url("../img/270px/jessica_jones.jpg")
}

#lucifer{
    background-image: url("../img/270px/lucifer.jpg")
}

#catws{
    background-image: url("../img/270px/catws.jpg")
}

#riverdale{
    background-image: url("../img/270px/riverdale.jpg")
}

#daredevil{
    background-image: url("../img/270px/daredevil.jpg")
}

@media screen and (min-width: 1800px){
    .season_list{
        width: 1600px !important;
        right: -1600px !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px){ 
    .season_list{
        width: 1200px !important;
        right: -1200px !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }

}

@media screen and (min-width: 1600px){
    h1{
        font-size: 2rem;
    }

    .description{
        width: 200px;
    }

    p{
        font-size: 0.8rem;
    }

    .episode_button p{
        font-size: 1.2rem !important;
        padding-left: 10px;
    }

    .seasons h2{
        font-size: 1.8rem;
    }

    .seasons, .season_button {
        width: 200px !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 850px){
    header h1{
        font-size: 1rem;
    }

    .boxy{
        margin: 2px 0 2px 0;
    }
}

@media screen and (min-width: 500px){
    .boxy:hover .info{
        visibility: visible;
        animation: fadein 0.3s forwards;
    }
    
    .boxy:not(:hover) .info{
        animation: fadeout 0.5s forwards;
    }

    .season_list{
        width: 480px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        top: unset;
        bottom: 0;
        right: -480px;
    }

    .season_button{
        border-bottom: 2px solid white;
        width: 120px;
    }
}

@media screen and (max-width: 500px){

    .seasons h2, .season_button h2{
        font-size: 1rem;
    }

    header h1{
        font-size: 0.65rem;
        margin-left: auto;
    }

    .content-box{
        overflow: auto;
        white-space: nowrap;
    }

    .boxy{
        height: 225px;
        width: 150px;
        pointer-events: all;
    }

    .info{
        position: fixed !important;
    }


    #game_of_thrones{
        background-image: url("../img/225px/game_of_thrones.jpg");
    }
    
    #salad_fingers{
        background-image: url("../img/225px/salad\ fingers.jpg");
    }
    
    #avatar_the_last_airbender{
        background-image: url("../img/225px/avatar_the_last_airbender.jpg")
    }
    
    #sherlock{
        background-image: url("../img/225px/sherlock.jpg")
    }
    
    #death_note{
        background-image: url("../img/225px/death_note.jpg")
    }
    
    #strangers_tongue{
        background-image: url("../img/225px/stranger\'s\ tongue\ poster.jpg")
    }
    
    #love_death_robots{
        background-image: url("../img/225px/love_death_robots.jpg")
    }
    
    #the_walking_dead{
        background-image: url("../img/225px/the_walking_dead.jpg")
    }
    
    #the_handmaids_tale{
        background-image: url("../img/225px/the_handmaid\'s_tale.jpg")
    }
    
    #westworld{
        background-image: url("../img/225px/westworld.jpg")
    }
    
    #civil_war{
        background-image: url("../img/225px/civil\ war.jpg")
    }
    
    #shawshank_redemption{
        background-image: url("../img/225px/shawshank_redemption.jpg")
    }
    
    #pulp_fiction{
        background-image: url("../img/225px/pulp_fiction.jpg")
    }
    
    #lord_of_the_rings{
        background-image: url("../img/225px/lord_of_the_rings.jpg")
    }
    
    #forrest_gump{
        background-image: url("../img/225px/forrest_gump.jpg")
    }
    
    #spirited_away{
        background-image: url("../img/225px/spirited_away.jpg")
    }
    
    #avengers_endgame{
        background-image: url("../img/225px/avengers_endgame.jpg")
    }
    
    #interstellar{
        background-image: url("../img/225px/interstellar.jpg")
    }
    
    #explore{
        background-image: url("../img/225px/explore.jpg")
    }
    
    #house_of_cards{
        background-image: url("../img/225px/house_of_cards.jpg")
    }
    
    #dexter{
        background-image: url("../img/225px/dexter.jpg")
    }
    
    #orange_is_the_new_black{
        background-image: url("../img/225px/orange_is_the_new_black.jpg")
    }
    
    #six_feet_under{
        background-image: url("../img/225px/six_feet_under.jpg")
    }
    
    #downton_abbey{
        background-image: url("../img/225px/downton_abbey.jpg")
    }
    
    #the_good_place{
        background-image: url("../img/225px/the_good_place.jpg")
    }
    
    #x-files{
        background-image: url("../img/225px/x-files.jpg")
    }
    
    #sex_education{
        background-image: url("../img/225px/sex_education.jpg")
    }
    
    #vikings{
        background-image: url("../img/225px/vikings.jpg")
    }
    
    #the_office{
        background-image: url("../img/225px/the_office.jpg")
    }
    
    #broadchurch{
        background-image: url("../img/225px/broadchurch.jpg")
    }
    
    #jessica_jones{
        background-image: url("../img/225px/jessica_jones.jpg")
    }
    
    #lucifer{
        background-image: url("../img/225px/lucifer.jpg")
    }
    
    #catws{
        background-image: url("../img/225px/catws.jpg")
    }
    
    #riverdale{
        background-image: url("../img/225px/riverdale.jpg")
    }
    
    #daredevil{
        background-image: url("../img/225px/daredevil.jpg")
    }

}